################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharp/v16/Server/sqlite3
/.vs/CSharp/v16/.suo
